@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

svg {
    width: 100%;
    height: auto;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
    padding: 5px 5px;
}

input[type=radio] {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.row [class^="col"] {
    float:left;
}

.col-2{
    width: 16.66%;
}

.col-2_5 {
    width: 20%;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

.col-12 {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* utilities */

.section-title {
    font-size: calc( 1vw + 24px );
    margin-bottom: 40px;
}

.button {
    color: #fff;
    background-color: #0061ff;
    border: 1px solid #0061ff;
    text-align: center;
    padding: 5px 15px;
    white-space: nowrap;
    font-size: 16px;
}

.button-alt {
    background-color: #fff;
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px;
    white-space: nowrap;
    font-size: 16px;
}

.full-width {
    width: 100%;
    display: inline-block;
}

.text-indent {
    display: inline-block;
    text-indent: 1rem;
}

.basic-link {
    color: #2779ff;
    text-decoration: underline;
    font-weight: bold;
}


/* Barra navigazione */

.container.fluid {
    padding: 10px 15px;
    max-width: 100%;
    
}

.container-lg {
    max-width: 1280px;
    margin: 0 auto;
}

.container-half {
    max-width: 1080px;
    margin: 0 auto;
    padding: 100px 15px 50px 15px;
}

.container .row-nav .col-logo {
    width: 160px;
    height: 55px;
    margin-right: 20px;
    float: left;
}

.col-logo #logo {
    object-fit: contain;
    height: 55px;
}

/* main nav */

.main-menu.left, .main-menu.right {
    max-width: 800px;
}

.row-nav .main-menu.left {
    float: left;
}

.row-nav .main-menu.right {
    float: right;
}

.main-menu .main-menu-left li, .main-menu .main-menu-right li {
    display: inline-block;
    line-height: 55px;
    padding: 0 5px;
}

.main-menu .main-menu-left li:hover, .main-menu .main-menu-right li:hover {
    font-weight: bold;
}

/* jumbotron */

#jumbotron {
    background-color: #b4d0e7;
}

/* jumbo title */

#jumpotron .row.jumbo-top .col-12 {
    padding: 20px;
}

#jumbotron .row.jumbo-top .jumbo-title {
    font-size: calc( 2vw + 40px);
    padding: 0 20px;
    margin-bottom: 40px;
}

/* jumbo descpription */

.row.jumbo-bottom .col-4 .module-jumbo-desc {
    padding: 0 20px;
}

.module-jumbo-desc p {
    font-size: 20px;
    padding: 5px 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.module-jumbo-button .discharge {
    margin-top: 15px;
    font-size: 16px;
}

.module-jumbo-button .button {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.fas.fa-arrow-down {
    font-size: 28px;
    padding: 5px 10px; 
}

.row.jumbo-bottom .jumbo__img {
    margin-bottom: -100px;
}

.row.jumbo-bottom {
    margin-bottom: 100px;
}

/* seconda sezione piani e prezzi */

/* plan title */

#plan-select .row.plan-title .col-12 {
    padding: 20px 0;
}

#plan-select .plan-wrap {
    padding: 20px 10px;
}


#plan-select .plan-select label {
    padding: 5px;
    margin-right: 20px;
} 

/* plan card */

#plan-select .row.price-wrap {
    margin: 0 -20px;
}

#plan-select .row.price-wrap [class^="col"] {
    padding: 0 20px;
}

#plan-select .card__wrapper {
    border: 1px solid #d0d0d3;
}

#plan-select .card__wrapper.height {
    min-height: 1000px;
}

#plan-select .card__wrapper [class^="card"] {
    padding: 15px 30px;
}

#plan-select .card-header {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

/* card body */

#plan-select .card__body, #plan-select .card__footer {
    font-size: 14px;
}

#plan-select .card__body .plan-title, #function .plan-title {
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
}

#plan-select .card__body .plan-price {
    font-size: 18px;
    padding: 5px 0;
}

#plan-select .card__body .plan-lenght {
    color: #637381;
    padding: 5px 0;
}

#plan-select .card__body .plan-features {
    margin: 30px 0 30px 0;
}

#plan-select .plan-features li {
    padding: 15px 0;
}

#plan-select .card__body .shop-now {
    color: #0564ff;
    text-decoration: underline;
    font-weight: bold;
}

#plan-select .card__body .cta-card p {
    padding: 20px 0;
}

#plan-select .col-4 .card__body:after  {
    content: "";
    display: block;
    background-color: #c9c9c9;
    height: 1px;
    width: 50px;
}

/* card footer */

#plan-select .card__footer .plan-utilities {
    font-size: 18px;
    margin-bottom: 15px;
}

.fas.fa-check {
    color: #0061ff;
}

/* card variant */

#plan-select .col-12 [class*="col"] {
    float: left;
}

#plan-select .row.price-wrap .col-12 {
    margin: 40px 0;
}

#plan-select .col-12 .card__body p {
    font-size: 16px;
    padding: 20px 0;
}

#plan-select .col-12 .col-4.shop-sell {
    padding: 35px 20px;
}

/* partner section */

#partner .row.partner {
    margin: 0 -20px;
}

#partner .row.partner [class^="col"] {
    padding: 0 20px;
}

#partner .partner__desc {
    padding: 40px 20px;
}

#partner .partner-title {
    font-size: 28px;
    margin-bottom: 20px;
}

#partner .partner__desc p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* card function */


#function .row.function-card {
    margin: 0 -30px;
    padding: 20px 0;
}

#function .row [class="col-4"] {
    padding: 0 30px;
}

#function .card-function-body p:only-of-type {
    line-height: 1.4;
}

.underline {
    text-decoration: 2px underline;
    text-decoration-color: #7f7f7f;
    padding: 0;
}

.underline:hover {
    font-weight: bold;
    text-decoration: none;
    text-decoration-color: #7f7f7f;
    box-shadow: 5px 3px 5px 2px #7f7f7f;
    background-color: #a9a9a9;
    padding: 2px 5px;
    border-radius: 999px;
    border: 1px solid #a9a9a9;
}

/* section business */

#business .row .module__svg {
    position: relative;
    min-height: 300px;
}

#business .row .module__svg:hover {
    cursor: pointer;
    border: 10px solid #d0e9cd;
}

#business .module__svg .svg-wrapper { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#business .svg-wrapper .svg-team {
    fill: #fff;
}

#business .module__team {
    padding: 40px 50px;
    background-color: #f5f5f5;
    min-height: 600px;
}

#business .row .designit {
    max-width: 150px;
    margin-bottom: 50px;
}

#business .module__team .team-descript p {
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 44px;
}

#business .module__team .designit::after {
    content: "";
    display: block;
    background-color: #c9c9c9;
    height: 1px;
    width: 50px;
    margin-top: 30px;
}

/* background loghi business */

.module__svg.green {
    background-color: #a2d39b;
}

.module__svg.blue {
    background-color: #0093ce;
}

.module__svg.purple {
    background-color: #61082b;
}

.module__svg.red {
    background-color: #ff1c1c;
}

.module__svg.magenta {
    background-color: #d5001f;
}

.module__svg.darkblue {
    background-color: #0d2481;
}

.module__svg.lightblue, .lightblue {
    background-color: #b4d0e7;
}

.module__svg.yellow {
    background-color: #ffd830;
}

/* shop dropbox business */

#business .shop__business .title-shop-business {
    float: left;
    max-width: 550px;
    color: #61082b;
}

#business .shop__business .cta-business {
    float: right;
    min-width: 350px;
    padding: 0 20px;
}

#business .cta-business .button-alt {
    border: #fff;
}

/* frequently ask questions */

#questions .ask__question [class^="col"] {
    border-bottom: 1px solid #dcdcde;
    font-weight: bold;
    font-size: 18px;
    padding: 40px 0;
    position: relative;
}

#questions .ask__question .question-title {
    font-size: 34px;
    padding: 30px 0;
}

#questions .ask__question .check-questions {
    color: #000;
    position: absolute;
    top: 40px;
    right: 40px;
}

/* footer */

#footer .container.fluid {
    background-color: #000;
    color: #fff;
}

#footer .row [class^="col"] {
    padding: 50px 20px;
}

#footer .row .info-title {
    font-size: 22px;
    margin-bottom: 10px;
    padding: 0 5px;
}

#footer .row .info_list li {
    padding: 10px 0;
}

/**************** 

debug

****************/

.debug [class^="col"] {
    border: 2px solid white;
    min-height: 200px;
}

