@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    padding: 5px 5px;
}

input[type=radio] {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Barra navigazione */

.container.fluid {
    padding: 10px 15px;
    max-width: 100%;
}

.container .row-nav .col-logo {
    width: 160px;
    height: 55px;
    margin-right: 20px;
    float: left;
}

.col-logo #logo {
    object-fit: contain;
    height: 55px;
}

/* main nav */

.main-menu.left, .main-menu.right {
    max-width: 800px;
}

.row-nav .main-menu.left {
    float: left;
}

.row-nav .main-menu.right {
    float: right;
}

.main-menu .main-menu-left li, .main-menu .main-menu-right li {
    display: inline-block;
    line-height: 55px;
    padding: 0 5px;
}

.main-menu .main-menu-left li:hover, .main-menu .main-menu-right li:hover {
    font-weight: bold;
}
/* cta start */

.button {
    color: #fff;
    background-color: #0061ff;
    padding: 5px 15px;
    white-space: nowrap;
}

/* jumbotron */

#jumbotron .container-jumbo {
    max-width: 80%;
    margin: 0 auto;
}
#jumbotron {
    background-color: #b4d0e7;
}

/* jumbo title */

.container-jumbo .row-jumbo-top .col-12 {
    padding: 20px;
}

.row-jumbo-top .col-12 .jumbo-title {
    font-size: calc( 3.5vw + 30px);
    padding: 0 10px;
}

/* jumbotron bottom */

.row-jumbo-bottom .col-4 {
    width: calc( (100% / 12) * 4 );
    margin-right: 20px;
}

.row-jumbo-bottom .col-8 {
    width: calc( ( 100% / 12 ) * 8 - 20px);
}

.row-jumbo-bottom [class^="col"] {
    float: left;
}

.translate {
    transform: translate( 0,20% );
}

/* jumbo descpription */

.row-jumbo-bottom .col-4 .module-jumbo-desc {
    padding: 0 20px;
}

.row-jumbo-bottom .col-4 .module-jumbo-desc p {
    padding: 5px 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.module-jumbo-button .button {
    margin-left: 10px;
}

.module-jumbo-button span {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

.fas.fa-arrow-down {
    font-size: 28px;
    padding: 5px 10px; 
}

/* seconda sezione piani e prezzi */

.container-half {
    max-width: 60%;
    margin: 0 auto;
    padding: 100px 0 50px 0;
}

.container-half .row-price-title .col-12, .container-half .row-price-wrap .col-12 {
    border: 1px solid black;
    min-height: 150px;
    float: left;
    width: 100%;
}

.container-half .row-price-wrap .col-8 {
    width: calc( 100% / 3 );
    min-height: 1000px;
    border: 1px solid black;
    float: left;
}

/* module price title */

.row-price-title .col-12 .module-price-wrap {
    padding: 20px 10px;
}

.module-price-wrap .section-title {
    font-size: calc( 1vw + 24px );
    margin-bottom: 40px;
}

.module-price-wrap .plan-select label {
    padding: 5px;
    margin-right: 20px;
} 




